@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    font-family: 'Roboto Flex', sans-serif;
}

.font-roboto-slab {
    font-family: 'Roboto Slab', serif;
}

.font-roboto-flex {
    font-family: 'Roboto Flex', sans-serif;
}


/* Modern scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    background: #3b3b3b;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4C1D95;
}

/* Custom utilities */
.text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-pink-500;
}

.glass-effect {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
}